.head-tap {
    background-color: #28406c;
    height: 2rem;
}

.top-row {
    background: #003c6e;
    color: white;
}

.container {
    padding: 30px 0 !important;
}

.statics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.statics-section {
    display: flex;
    flex-direction: row;
}

.statics a {
    color: #003c6e;
}

.statics-text {
    max-width: 150px;
    padding: 12px;
    font-size: 16px;
    font-weight: 900;
}

.statics-img {
    border-radius: 50%;
}

.top-article {
    width: 100%;
    background: #2e3192 url(../img/pattern-white.png) repeat;
    justify-content: center;
}

.article-txt {
    padding: .5rem;
    text-align: justify;
}

.aticle-img {
    height: auto;
}

.aticle-img img {
    width: 100%;
}

.article-card {
    transition: all .5s;
    padding: 10px;
    background-color: white;
    min-width: 30%;
}

.blog-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.blog-section .article-card {
    -webkit-box-shadow: 1px 3px 12px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 1px 3px 12px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 1px 3px 12px 0px rgba(0, 0, 0, 0.45);
}

.blog-section .article-card:hover {
    transform: scale(1.05);
    box-shadow: 1px 6px 25px 3px rgba(0, 0, 0, 0.45);
}

.blog-section hr {
    width: 30%;
}

.blog-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.blog-header {
    width: 60%;
    align-self: center;
}

.video-bar {
    background: #2e3192 url(../img/pattern-white.png) repeat;
    padding: 2rem;
}

.video-bar-header {
    color: #ffb715;
    text-align: center;
}

.video-exm {
    display: flex;
    justify-content: center;
}

.video-pev {
    position: relative;
    transition: all .5s;
}

.video-pev:hover {
    transform: scale(1.05);
    box-shadow: 1px 6px 25px 3px rgba(0, 0, 0, 0.45);
}

.video-pev:hover .vid-title {
    opacity: 1;
}

.video-pev:hover .vid-icon {
    transform: scale(1.05);
}

.article-card:hover {
    transform: scale(1.05);
    box-shadow: 1px 6px 25px 3px rgba(0, 0, 0, 0.45);
}

.top-footer {
    background-color: #979797;
    height: 4rem;
}

.sidebar {
    position: sticky;
    top: 15px;
}


/* ------------------------------------------ */

.dir p {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.dir a {
    color: black;
}

.dir a:hover {
    /* color: hsl(194, 100%, 62%); */
    text-decoration: none;
}

.dir:hover {
    transform: scale(1.05);
}

.row1 .container {
    padding: 0px 0 !important;
}

.top-article-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .top-article-section {
        flex-direction: column;
    }
    .blog-card {
        flex-direction: column;
    }
    .video-exm .row {
        flex-direction: column;
    }
}

.vid-title {
    position: absolute;
    bottom: 0;
    background: #e9e9e960;
    opacity: 0;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.vid-icon {
    position: absolute;
    top: 15%;
    left: 29%;
    opacity: .8;
    width: 100px;
    height: 100px;
}

.blog-back {
    background: url(../img/pattern-gray.png);
}

.contactinfo {
    width: 100%;
    justify-content: space-around;
}

.contactinfo span {
    font-size: 20px;
}

@media screen and (max-width:576px) {
    .statics {
        flex-direction: column;
        align-items: center;
    }
    #logo {
        text-align: center;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.99%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media screen and (min-width:576px) {
    .navbar-brand {
        display: none;
    }
}

.postv {
    transition: all 0.5s;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    padding: 5px;
    min-height: 350px;
    position: relative;
}

.post-sum .btn-warning {
    position: absolute;
    bottom: 5px;
}

.comments {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

.comment {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.answer {
    margin-left: 20px;
}

.comment-body .name {
    font-size: 16px;
    font-weight: 600;
}

.comment-body .text {
    padding: 2px 10px;
}

.postv:hover {
    transform: scale(1.05);
}

.post-sum p {
    height: 48px;
    max-height: 48px;
    overflow: hidden;
    font-size: 15px;
}

.post-pic {
    width: 100%;
    max-height: 700px;
}

.post-pic img {
    height: inherit;
    width: inherit;
}


/* ---------------------------------------------------- */

.video-bar-header h2 {
    overflow: hidden;
    text-align: center;
}

.video-bar-header h2:before,
.video-bar-header h2:after {
    background-color: #ffb715;
    content: "";
    display: inline-block;
    height: 7px;
    position: relative;
    vertical-align: middle;
    width: 30%;
}

.video-bar-header h2:before {
    right: 0.5em;
    margin-left: -50%;
}

.video-bar-header h2:after {
    left: 0.5em;
    margin-right: -50%;
}

.navbar-nav .dropdown {
    position: relative;
    /* display: inline-block; */
}

.dropdown:hover>.dropdown-content {
    display: block;
}

.dropdown>.dropdown-content {
    padding-left: 0;
    padding-right: 0;
    z-index: 5;
    top: 1px;
    left: 120px;
    min-width: 120px;
    padding-top: 10px;
}

.navbar-nav>.dropdown>.dropdown-content {
    top: 35px;
    left: -1px;
}

.navbar-nav {
    width: 55%;
    justify-content: space-evenly;
}

@media screen and (max-width:768px) {
    .navbar-nav {
        width: 75%;
    }
}

@media screen and (max-width:576px) {
    .navbar-nav {
        width: 100%;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #28406ca4;
}

a:hover {
    text-decoration: none;
}

.dropdown-content li {
    padding: 5px;
}

.dropdown-content li a {
    background-color: #97979700;
}

@media screen and (min-width:576px) {
    .dropdown-content li:hover {
        background: #3b6fcf;
    }
}

@media screen and (max-width:575px) {
    .dropdown:hover>.dropdown-content {
        display: contents;
    }
    .navbar-nav .dropdown {
        background: #949494;
    }
}

header {
    position: relative;
    width: 100%;
}

.logo {
    position: relative;
    z-index: 123;
    padding: 10px;
    font: 18px verdana;
    color: #6DDB07;
    float: left;
    width: 15%
}

.logo a {
    color: #6DDB07;
}

nav {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu:after,
#cssmenu>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

#cssmenu #head-mobile {
    display: none
}

#cssmenu {
    width: 100%;
}

#cssmenu>ul>li {
    float: left;
    margin: 0px 1px;
}

#cssmenu>ul>li>a {
    padding: 17px 10px;
    font-size: 12px;
    text-decoration: none;
    /* color: #000324; */
}

#cssmenu>ul>li:hover>a,
#cssmenu ul li.active a {
    color: #fff;
}

#cssmenu>ul>li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {
    background: #333333 !important;
    -webkit-transition: background .3s ease;
    -ms-transition: background .3s ease;
    transition: background .3s ease;
}

#cssmenu>ul>li.has-sub>a {
    padding-left: 30px;
}

#cssmenu>ul>li.has-sub>a:after {
    position: absolute;
    top: 22px;
    left: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ffffff;
    content: '';
}

#cssmenu>ul>li.has-sub>a:before {
    position: absolute;
    top: 19px;
    left: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ffffff;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu>ul>li.has-sub:hover>a:before {
    top: 23px;
    height: 0
}

#cssmenu ul ul {
    position: absolute;
    /* left:-9999px */
    opacity: 0;
    z-index: -9999;
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    background: #656565;
    /* background: rgb(41 41 41 / 68%); */
    transition: all .25s ease;
    border-radius: 5px;
    margin: 2px 0;
}

#cssmenu ul ul li:hover {}

#cssmenu li:hover>ul {
    right: auto;
    z-index: 9999;
    opacity: 1;
}

#cssmenu li:hover>ul>li {
    height: auto;
    left: -2px;
}

#cssmenu ul ul ul {
    margin-left: 103%;
    top: 0;
}

#cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

#cssmenu ul ul li:last-child>a,
#cssmenu ul ul li.last-item>a {
    border-bottom: 0
}

#cssmenu ul ul li:hover>a,
#cssmenu ul ul li a:hover {
    color: #fff
}

#cssmenu ul ul li.has-sub>a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: '';
}

#cssmenu ul ul li.has-sub>a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu ul ul>li.has-sub:hover>a:before {
    top: 17px;
    height: 0
}

#cssmenu ul ul li:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #1a2d50;
}

#cssmenu ul ul ul li.active a {
    border-right: 1px solid #333
}

#cssmenu>ul>li.has-sub>ul>li.active>a,
#cssmenu>ul ul>li.has-sub>ul>li.active>a {
    border-top: 1px solid #333
}

.a-logo {
    width: 108px;
    float: left;
    height: 100px;
}

.a-logo img {
    width: 100%;
}

ul.menu-head {
    float: left;
}

nav .button {
    display: none;
}

@media screen and (max-width:1000px) {
    #cssmenu li:hover>ul>li {
        height: 35px;
        left: unset;
    }
    .flower {
        display: none;
    }
    .popu-news {
        margin-top: 15px;
    }
    .vid-slider {
        margin-top: 15px;
    }
    .video {
        margin: 10px;
    }
    .logo {
        /* position:absolute; */
        top: 0;
        right: 0;
        width: 75px !important;
        height: auto;
        text-align: center;
        padding: 10px 0 0 0;
        float: none;
        /* display: none; */
    }
    .logo2 {
        display: none
    }
    nav {
        width: 100%;
    }
    .flags {
        display: block !important;
    }
    #cssmenu ul ul.open,
    #cssmenu ul ul ul.open {
        background: #1a2d50;
    }
    #cssmenu {
        width: 100%;
        margin-bottom: 6px;
    }
    #cssmenu ul {
        width: 100%;
        display: none;
        padding: 0;
        z-index: 9 !important;
    }
    #cssmenu ul li {
        width: 100%;
        border-top: 1px solid #888;
    }
    #cssmenu ul li:hover {
        background: #363636;
    }
    #cssmenu ul ul li,
    #cssmenu li:hover>ul>li {
        height: auto
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0
    }
    #cssmenu>ul>li {
        float: none
    }
    #cssmenu ul ul li a {
        padding-right: 25px
    }
    #cssmenu ul ul li {
        background: #1a2d50 !important;
    }
    #cssmenu ul ul li:hover {
        background: #1a2d50 !important;
    }
    #cssmenu ul ul ul li a {
        padding-right: 35px
    }
    #cssmenu ul ul li a {
        color: #ddd;
        background: none
    }
    #cssmenu ul ul li:hover>a,
    #cssmenu ul ul li.active>a {
        color: #fff
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        right: 0;
        width: 100%;
        margin: 0;
        text-align: left;
        opacity: unset;
    }
    #cssmenu>ul>li.has-sub>a:after,
    #cssmenu>ul>li.has-sub>a:before,
    #cssmenu ul ul>li.has-sub>a:after,
    #cssmenu ul ul>li.has-sub>a:before {
        display: none
    }
    #cssmenu #head-mobile {
        display: block;
        padding: 23px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700;
    }
    .button {
        width: 55px;
        height: 56px;
        position: absolute;
        left: 20px;
        top: 0;
        cursor: pointer;
        z-index: 12399994;
        display: initial !important;
        font-size: 29px;
        padding-top: 12px;
    }
    .button.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #fff;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    .button.menu-opened:before {
        top: 23px;
        background: #fff;
        width: 19px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #444;
        height: 46px;
        width: 46px;
        cursor: pointer
    }
    #cssmenu .submenu-button.submenu-opened {
        background: #1a2d50;
    }
    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px
    }
    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        left: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }
    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        left: 13px
    }
    #cssmenu .submenu-button.submenu-opened:after {
        background: #fff
    }
    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        left: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: ''
    }
    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        left: 16px
    }
    #cssmenu .submenu-button.submenu-opened:before {
        display: none
    }
    #cssmenu ul ul ul li.active a {
        border-right: none
    }
    #cssmenu>ul>li.has-sub>ul>li.active>a,
    #cssmenu>ul ul>li.has-sub>ul>li.active>a {
        border-top: none
    }
    #cssmenu>ul>li.has-sub>a {
        padding-left: 15px;
    }
}

iframe.youtube {
    position: absolute;
    top: 0;
    left: 50%;
    width: 95%;
    height: 95%;
    transform: translate(-50%, 0);
    border: 0;
}

.youtube-div {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative
}

.map {
    float: right;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1.5em;
    box-shadow: 0px 5px 37px rgba(0, 0, 0, .09);
    background: #fff;
    padding: 15px;
}

#map {
    height: 400px;
}

#footer {
    padding: 10px 0;
}


/* .clear::before,
.clear::after,
.group::before,
.group::after {
    content: none;
} */

#header {
    display: flex;
    justify-content: space-between;
}

.lang-flags img {
    width: 40px;
}

@media screen and (max-width:992px) {
    .video-bar-header h2:before,
    .video-bar-header h2:after {
        content: none;
    }
}