.video-img {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease-out;
    z-index: 2;
}

.video-img:hover {
    cursor: pointer;
}

.container:hover .video-img {
    transform: translateY(-100px);
}

.video-img>img {
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-out;
}

.container:hover>.video-img>img {
    opacity: 0.5;
}

.user-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center
}

.user-info>h2 {
    padding: 0;
    margin: 10px 0;
}

.user-info>span {
    color: #262626;
    font-size: 16px;
}